@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}
section{
    height: 30rem;
    border-bottom: 1px solid goldenrod ;
}
a{
    text-decoration: none;
    color: goldenrod;
    text-shadow: 1px 1px 2px black;
}
#hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(index_assets/pexels-fotoaibe-1643383.jpg);
    background-attachment:fixed ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}
#hero h1{
    font-size: 7rem;
    font-weight: bold;
    color: goldenrod;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 0;
}
#hero h2{
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

header{
    position:fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0); /* Start fully transparent */
    z-index: 1;
}
header img{
    display: none;
}
header a{
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > a{
    margin-left: 2rem;
}
nav{
    display: flex;
}
nav a{
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a:hover{
    transform: scale(1.1);
    transition-duration: 0.1s;
}
#fushlogo{
    display: none;
}



#ko-smo-mi{
    display: flex;
    justify-content: space-between;
}
#ko-smo-mi-text{
    width: 50%;
    height: 100%;
}
#ko-smo-mi-text .text{
    padding: 0 0 0 20%;
}
#ko-smo-mi h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px black;
    color: gold;
}
#ko-smo-mi p{
    font-size: 1.5rem;
    color: white;
}
#ko-smo-mi video{
    width: 100%;
    height: 100%;
    padding-right: 15rem;
}





#usluge{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(index_assets/pexels-photo-7195736.jpeg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45rem;
    padding: 3rem 0 2rem 0;
}
#usluge .naslov{
    width: 100%;
    padding: 0 20%;
    text-align: center;
}
#usluge .naslov h2{
    font-size: 3rem;
    color: rgb(233, 177, 34);
    text-shadow: 1px 1px 2px black;
    margin: 2rem 0;
}
#boxevi{
    width: 100%;
    height: 100%;
    display: flex;
}
#boxevi .box{
    background-color: rgb(80, 80, 80);
    flex-grow: 1;
    margin: 0 4% 2% 4%;
    box-shadow: 10px 10px rgb(27, 27, 27);
    border-radius: 1rem;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    align-items: center;
}
#boxevi .box:hover{
    transform:scale(1.02);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.box-picture{
    width: 80%;
    height: 30%;
    margin-top: 5%;
}
.box-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 5%;
}
.box h4{
    text-align: center;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.box p{
    padding: 0 1rem;
}

#galerija{
    height: 90vh;
    background-image: url(index_assets/pexels-falling4utah-2724749.jpg);
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: space-between;
}
#galerija button{
    background-color:rgba(0, 0, 0, 0.1);
    border: none;
    width: 18%;
}
#galerija button:hover{
    transition: 0.4s;
    background-color:rgba(0, 0, 0, 0.4);
}






footer{
    height: 20rem;
    width: 100%;
    background-color: #151515;
    display: flex;
}
footer h4{
    color: goldenrod;
    font-size: 1.4rem;
}
footer p{
    color: gainsboro;
}
footer > div{
    flex-grow: 1;
    flex-basis: 0;
}
footer .firstdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
footer img{
    max-width: 100%;
    height: auto;
}
footer i{
    color: grey;
    font-size: 2rem;
}